*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
input{
    font-size: 14px;
    padding: 12px;
    border: 1px solid #eeeeee;
    outline: none;
}
body{
    line-height: 1.4;
    color: #333333;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    margin-bottom: 16px;
}
label{
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777777;
}
button{
    cursor: pointer;
    padding: 12px;
    background: #7C5CBF;
    border: none;
    color: white;
    font-size: 16px;
    transition: background .3s ease;
}
button:hover{
    background: #6b47b8;
}
button:disabled{
    cursor: default;
    background: #7c5cbf94;
}
.centered-form{
    background: #333744;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered-form_box{
    box-shadow: 0px 0px 17px 1px #1D1F26;
    background: #F7F7FA;
    padding: 24px;
    width: 250px;
}
.centered-form button{
    width: 100%;
}
.centered-form input{
    margin-bottom: 16px;
    width: 100%;
}